{:deps
 {colorize/colorize     {:mvn/version "0.1.1"}
  methodical/methodical {:mvn/version "0.12.2"}
  org.clojure/clojure   {:mvn/version "1.10.3"}
  progrock/progrock     {:mvn/version "0.1.2"}}

 :aliases
 {
  ;; clojure -M:check
  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha     "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts  ["-m" "clj-check.check"]}

  ;; clojure -X:jar :version "<version>"
  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
   :exec-fn      hf.depstar/jar
   :exec-args    {:group-id    "com.camsaul"
                  :artifact-id "whitespace-linter"
                  :jar         "target/whitespace-linter.jar"
                  :sync-pom    true
                  :paths-only  true}}

  ;; clojure -X:deploy :artifact '"target/whitespace-linter.jar"'
  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :exec-args  {:installer :remote}}}}
